.atcalendar {
	width: 300px;

	background: #333333;

	color: #e7e7e7;
	font-size: 14px;

	font-family: Georgia, "Times New Roman", Times, serif;

	user-select: none;
	-moz-user-select: none;
}

/*
	Today
*/

.atcalendar__choosen {
	padding: 10px 20px;
	text-align: center;
}

.atcalendar__choosen__icon {
	display: inline-block;
	margin-right: 5px;
	width: 12px;
	height: 12px;

	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAADcSURBVHgB7VOxDYMwEHzM07ukZARGIBMkG5ANskI2CCNkE8gG3gAKJChpaXDuI1tySFKgNCly0uufO/5sxD9RgHEcK4RFtH3f56E2DMPZa6gLzyt6ximOYxFNkiT7UIiiqGTmA3KjlCo9z3DLQF5Q6wfB3C3LMllrjzitCDwycBNy57Qa+cYg5KUDvSJzQZ80HFzwWpnn+Qohf9eFm1VrU3bfJ1c2ngzrEOAlGdej8Zyzb0jTdEcbIH8CJrWiL/E3+AUDP0hadmJLIxZKBokY22cwohom7RYDN5XNHfEna+N4xoaHAAAAAElFTkSuQmCC');
	background-size: 12px 12px;
}

.atcalendar__choosen__date {
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	color: #e8e8e8;
}

/* 
	HEAD
*/

.atcalendar__head {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 36px;

	padding: 10px 0;	
}

.atcalendar__head__center {
	display: flex;
	flex-direction: column;
}

.atcalendar__head__prev-month,
.atcalendar__head__next-month {
	width: 20px;
	height: 12px;

	margin: 0;
	padding: 0;

	border-radius: 0;
	border: none;

	cursor: pointer;
	outline: none;

	background-color: transparent;
	background-size: 8px 10px;
	background-position: center center;
	background-repeat: no-repeat;
}

.atcalendar__head__prev-month {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAKCAYAAACJxx+AAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACLSURBVHgBfY+xDcMgEEV9pzRUcQeU3sDZIBslG8SZxKt4A0bAHYiGAZDAhyUkC538C/TRfzwJGJhYa0chxIKIBvvROfem0VD91Pujf9WGlhMIIcw555Xq3BvRe/+l0XDjCQDAc7gJSin/pZSJ+s4C9dBa70qpiWwLC7RUG/39dbUBp40xjimlH8HbAScWKe4lT7JlAAAAAElFTkSuQmCC');
}

.atcalendar__head__next-month {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAKCAYAAACJxx+AAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACPSURBVHgBdY6xDYMwEEXxmQFSWZbcsAIbZJMkG7BJkgmSDWADGIERqGzZFZ0by+aQsGSJ41enu3f//8pa22utu+pCkFK6AcAbwZ8xpjkBeUDwyRgbnXMPEjjUxBj/pRtQudkNoTsJZHHO1yvg471vhRBzXW7Rdg0hvJRSA1VywoJtedxV49eCpTop5ZfK2gD2CT28I+SAeQAAAABJRU5ErkJggg==');
}

.atcalendar__head__center__date,
.atcalendar__head__center__month
.atcalendar__head__center__year {
	text-align: center;
	font-weight: bold;
	color: #e8e8e8;

	border-top: 1px solid transparent;

	margin: 10px 0;
}

.atcalendar__head__center__date > span:first-child {
	display: inline-block;
	padding-right: 5px;
}

.atcalendar__week-days {
	list-style: none;
	margin: 0;
	display: flex;
	flex-wrap: nowrap;
	padding: 0 20px;
	color: #a4a4a4;

	justify-content: center;

	font-size: 12px;
}

.atcalendar__week-days__item {
	width: 30px;
	text-align: center;
	margin: 2px;
}

/* 
	DATES
*/

.atcalendar__dates {
	display: flex;
	flex-wrap: wrap;
	padding: 10px 20px;
	margin: 0;
	list-style: none;
	font-size: 14px;

	justify-content: center;
}

.atcalendar__dates__item {
	width: 30px;
	line-height: 30px;
	height: 29px;
	box-sizing: border-box;
	text-align: center;
	cursor: pointer;
	border-radius: 50%;
	padding: 1px;
	margin: 2px;
}

.atcalendar__dates__item.empty {
	cursor: inherit;
	background: transparent !important;
}

.atcalendar__dates__item.active {
	background: #515151;
}

.atcalendar__dates__item.choosen {
	background: #00a82e;
}

.atcalendar__dates__item:hover {
	background: #6f6f6f;
}

/* 
	MONTHS
*/

.atcalendar__months {
	display: flex;
	flex-wrap: wrap;

	padding: 10px 20px;
	margin: 0;

	list-style: none;

	font-size: 14px;
}

.atcalendar__months__item {
	width: 33%;
	box-sizing: border-box;
	text-align: center;

	line-height: 30px;
	height: 30px;

	cursor: pointer;
}

.atcalendar__months__item__number-of-month {
	font-size: 10px;
}

.atcalendar__months__item.active {
	background: #515151;
}

.atcalendar__months__item:hover {
	background: #6f6f6f;
}

/* 
	YEARS
*/

.atcalendar__years {
	display: flex;
	flex-wrap: wrap;

	padding: 10px 20px;
	margin: 0;

	list-style: none;

	font-size: 14px;
}

.atcalendar__years__item {
	width: 25%;
	box-sizing: border-box;
	text-align: center;

	line-height: 30px;
	height: 30px;

	cursor: pointer;
}

.atcalendar__years__item.active {
	background: #515151;
}

.atcalendar__years__item:hover {
	background: #6f6f6f;
}


/* UMD */

.atcalendar-holder {
	position: relative;
}

.clickable {
	cursor: pointer;
	opacity: 0.8;
}

.clickable:hover {
	opacity: 0.6;
}